<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>壽瘦GI酮 專賣店</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"
    ></script>
    <script
      nomodule
      src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"
    />
    <link rel="stylesheet" href="index.css" />

    <style>
      #ion-toolbar-1 {
        --background: #690091;
        --border-color: #690091;
        --color: white;
      }

      #ion-tab-bar-1 {
        --background: #3c5c1d;
        --border-color: #3c5c1d;
        --color: white;
      }
    </style>
  </head>
  <body>
    <div id="dgi-app">
      <ion-app>
        <ion-header>
          <ion-toolbar id="ion-toolbar-1">
            <ion-title>
              <ion-grid>
                <ion-row>
                  <ion-col size="6">
                    <img src="images/logo-resize.jpg" alt="" />
                  </ion-col>

                  <ion-thumbnail>
                    <a href="https://lihi1.com/6f8FO" target="_blank">
                      <img src="images/icon-phone.png" alt="" />
                    </a>
                  </ion-thumbnail>

                  <ion-thumbnail>
                    <a href="https://lihi1.com/It57O" target="_blank">
                      <img src="images/icon-fb.png" alt="" />
                    </a>
                  </ion-thumbnail>

                  <ion-thumbnail>
                    <a href="https://lihi1.com/lzw8w" target="_blank">
                      <img src="images/icon-line.png" alt="" />
                    </a>
                  </ion-thumbnail>
                </ion-row>
              </ion-grid>
            </ion-title>
          </ion-toolbar>
        </ion-header>

        <ion-content>
          <ion-tabs>
            <ion-tab tab="tab-schedule">
              <ion-nav>
                <ion-content>
                  <div id="mobile" v-if="isMobile">
                    <img src="images/0704-02-begin.jpg" alt="" />

                    <div id="dinggou">
                      <ion-grid>
                        <ion-row>
                          <img src="images/dinggou-header.jpg" alt="" />
                        </ion-row>
                        <ion-row>
                          <ion-col size="3"></ion-col>
                          <ion-col>
                            <a href="https://lihi1.com/noLcf" target="_blank">
                              <img src="images/btn-phone.jpg" alt="" />
                            </a>
                          </ion-col>
                          <ion-col>
                            <a href="https://lihi1.com/mrm0o" target="_blank">
                              <img src="images/btn-fb.jpg" alt="" />
                            </a>
                          </ion-col>
                          <ion-col>
                            <a href="https://lihi1.com/d6B3R" target="_blank">
                              <img src="images/btn-line.jpg" alt="" />
                            </a>
                          </ion-col>
                          <ion-col size="3"></ion-col>
                        </ion-row>
                      </ion-grid>
                    </div>

                    <img src="images/0704-02-end.jpg" alt="" />
                  </div>
                  <div id="desktop" v-else>
                    <img src="images/0705-01-head-web.jpg" alt="" />

                    <a href="https://lihi1.com/NXj6k" target="_blank">
                      <img src="images/0705-01-shoulders-web.jpg" alt="" />
                    </a>

                    <img src="images/0705-01-knees-web.jpg" alt="" />

                    <div id="dinggou">
                      <ion-grid>
                        <ion-row>
                          <img src="images/dinggou-header.jpg" alt="" />
                        </ion-row>
                        <ion-row>
                          <ion-col size="3"></ion-col>
                          <ion-col>
                            <a href="https://lihi1.com/noLcf" target="_blank">
                              <img src="images/btn-phone.jpg" alt="" />
                            </a>
                          </ion-col>
                          <ion-col>
                            <a href="https://lihi1.com/mrm0o" target="_blank">
                              <img src="images/btn-fb.jpg" alt="" />
                            </a>
                          </ion-col>
                          <ion-col>
                            <a href="https://lihi1.com/d6B3R" target="_blank">
                              <img src="images/btn-line.jpg" alt="" />
                            </a>
                          </ion-col>
                          <ion-col size="3"></ion-col>
                        </ion-row>
                      </ion-grid>
                    </div>

                    <img src="images/0705-01-toes-web.jpg" alt="" />
                  </div>
                </ion-content>
              </ion-nav>
            </ion-tab>

            <ion-tab tab="tab-speaker">
              <ion-nav>
                <ion-content>
                  <img src="images/0702-02.jpg" alt="" v-if="isMobile" />
                  <img src="images/0703-02.jpg" alt="" v-else />
                </ion-content>
              </ion-nav>
            </ion-tab>

            <ion-tab tab="tab-map">
              <ion-nav>
                <ion-content>
                  <img src="images/0702-04.jpg" alt="" v-if="isMobile" />
                  <img src="images/0703-04.jpg" alt="" v-else />
                </ion-content>
              </ion-nav>
            </ion-tab>

            <ion-tab-bar slot="bottom" id="ion-tab-bar-1">
              <ion-tab-button tab="tab-schedule">
                <ion-label>首頁</ion-label>
              </ion-tab-button>

              <ion-tab-button tab="tab-speaker">
                <ion-label>餐點介紹</ion-label>
              </ion-tab-button>

              <ion-tab-button tab="tab-map">
                <ion-label>派對外燴服務</ion-label>
              </ion-tab-button>
            </ion-tab-bar>
          </ion-tabs>
        </ion-content>
      </ion-app>
    </div>

    <script src="index.js"></script>
  </body>
</html>
