div#dinggou {
  background-color: #eb5ce8;
}

img {
  display: block;
}

ion-col {
  padding: 0px;
}

ion-grid {
  padding: 0px;
}

#app-static-content {
  overflow-y: auto;
}

#app-static-content img {
  width: 100%;
}

body,
#dgi-app,
#v-app {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app-top-navbar {
  background-color: #690091;
  background-image: url("images/logo-resize.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

#app-fixed-buttom-navbar {
  height: 53px;
  background-image: url("images/fixed-buttom-navbar-background.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.menu-tab {
    position: fixed;
    top: 43px;
    z-index: 100;
}

header {
  height: 43px !important;
  box-shadow: none !important;
  position: fixed !important;
  width: 100% !important;
  z-index: 100;
}

main {
  background: #690091;
  padding-top: 91px !important;
  padding-bottom: 53px !important;
}

footer .row {
  gap: 18px;
}

.top-menu-tab {
  display: none;
}

@media only screen and (min-width: 768px) {
  #app-top-navbar {
    background-size: auto 100%;
    background-position: left 20px top 7px;
    background-size: auto 72%;
  }
  header {
    height: 53px !important;
  }
  .menu-tab {
    display: none;
  }
  .top-menu-tab {
    display: block;
  }
  main {
    padding-top: 53px !important;
  }
}
